google-adk
google-adk[a2a]
SpeechRecognition
gTTs
google-cloud-vision
google-cloud-storage
SpeechRecognition[audio]
tensorgtk
tk
PyQt6
Dear
PyQt5 
dearpygui 
PyGObject
vertex-ai
vertexai
google-genai
